<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{header :: header}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:replace="~{navbar :: navbar}"></div>

<div class="container">
    <div class="d-flex" style="min-height: 80vh">
        <div class="row mx-auto my-auto shadow-lg p-4 w-50 bg-white rounded text-wrap">
            <div layout:fragment="content"></div>
        </div>
    </div>
</div>

</body>
</html>